body {
    width: 100%;
    background-color: cornsilk;
}

div {
    border-width: px;
    border-style: ;
    border-color:;
    border-radius: 40px;
}

.title {
    font-family: arial;
    font-size: 45px;
    text-align: center;
    border: 40px solid #6B8E23;
    padding: 25px;
    margin: 05px;
    background-color: #6B8E23;
}

.c1r {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    width: 20%;
    column-width: 300px;
    border: 6px solid #FF4500;
    padding: 15px;
    margin: 35px;
    background-color: #FFA500;
}

.c1th {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    width: 20%;
    border: 6px solid #FF4500;
    padding: 15px;
    margin: 35px;
    background-color: #FFA500;

}

.t2hsd {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    width: 20%;
    column-width: 300px;
    border: 6px solid #FF4500;
    padding: 15px;
    margin: 35px;
    background-color: #FFA500;
}

div.clth {
    position: relative;
}
div.clth a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

p {
font-size: 22;
width:750px;
border: 0px solid #FF4500;
padding: 15px;
text-align: justify;
text-justify: inter-word;

}

.box {
  margin: auto;
text-align: center;
position: absolute;
width:50%;
border: 6px solid #FF4500;
padding: 25px;

}
