
body {
  background: #000000;
  color: #ffebcd;
  font-family: sans-serif;
}

.nav {
  text-align: center;
  padding: 15px 0 25px 0;
  border-bottom: 1px solid #ffebcd;
}

.footer {
  font-size: 1.3rem;
  padding: 5px 0 5px 0;
  border-top: 5px solid #ffebcd;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

  float: center;
  font-weight: 200;
  line-height: 4rem;
  padding: 2rem 0 2rem 0;
  text-transform: uppercase;
}
.tagline {
  margin: 2rem 0 2rem 0;
  text-align: right;
}

.style {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ffebcd;
  border-image: : 8px;
  text-align: left;
}

p, li {
  color: #faf0e6;
}

a {
  color: #00000;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #ffebcd;
}
